name: build

on:
  push:
    branches: ["main"]

  pull_request:
  workflow_call:
    secrets:
      BUILDBUDDY_API_KEY:
        required: true
    outputs:
      artifacts:
        description: "All binaries"
        value: ${{jobs.build.outputs.artifact}}
permissions:
  id-token: write
  contents: read
  attestations: write
jobs:
  build:
    name: Build
    runs-on: macos-latest
    outputs:
      artifact: ${{steps.upload.outputs.artifact-url}}
    steps:
      - uses: actions/checkout@v4
      - name: bazel build //:for_all_platforms
        env:
          BUILDBUDDY_API_KEY: ${{ secrets.BUILDBUDDY_API_KEY }}
        run: |
          bazel build --config release --config remote \
            --remote_header=x-buildbuddy-api-key=$BUILDBUDDY_API_KEY \
            //:for_all_platforms
          mv bazel-out/linux_amd64_musl-opt/bin/pkgutil pkgutil_linux_amd64_musl
          mv bazel-out/linux_arm64_musl-opt/bin/pkgutil pkgutil_linux_arm64_musl
          mv bazel-out/macos_arm64-opt/bin/pkgutil pkgutil_macos_arm64
          mv bazel-out/windows_amd64-opt/bin/pkgutil.exe pkgutil_windows_amd64.exe

          # tar.gz the binaries
          tar -czf pkgutil_macos_arm64.tar.gz pkgutil_macos_arm64
          tar -czf pkgutil_linux_arm64_musl.tar.gz pkgutil_linux_arm64_musl
          tar -czf pkgutil_linux_amd64_musl.tar.gz pkgutil_linux_amd64_musl
          tar -czf pkgutil_windows_amd64.tar.gz pkgutil_windows_amd64.exe
      - uses: actions/attest-build-provenance@v2
        with:
          subject-path: 'pkgutil_*'
      - uses: actions/upload-artifact@v4
        id: upload
        with:
          name: artifacts
          retention-days: 1
          path: |
            pkgutil_macos_arm64
            pkgutil_macos_amd64
            pkgutil_linux_arm64_musl
            pkgutil_linux_amd64_musl
            pkgutil_windows_amd64.exe

            pkgutil_macos_arm64.tar.gz
            pkgutil_macos_amd64.tar.gz
            pkgutil_linux_arm64_musl.tar.gz
            pkgutil_linux_amd64_musl.tar.gz
            pkgutil_windows_amd64.tar.gz
