name: release

on:
  push:
    tags:
      - "v*.*.*"

permissions:
  id-token: write
  contents: write
  attestations: write

jobs:
  build_all:
    uses: ./.github/workflows/build.yaml
    secrets:
      BUILDBUDDY_API_KEY: ${{ secrets.BUILDBUDDY_API_KEY }}
  release:
    runs-on: ubuntu-latest
    needs: build_all
    steps:
      - uses: actions/download-artifact@v4
        with:
          merge-multiple: true
      - run: shasum -a 256 pkgutil* > SHA256.txt
      - name: Publish release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ github.ref_name }}
          target_commitish: ${{ github.sha }}
          files: |
            pkgutil*
            SHA256.txt
          draft: false
          prerelease: false
          generate_release_notes: false
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
